/* Add your styles here */

html, body {
    font-family: Lato, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    background-color: #EDEFEE;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

nav {
    display: flex;
    justify-content: center;
    padding:  10px;
    margin-top: 30px;
    align-items: center;
}

.nav-links {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links li a:hover {
    background-color: #f2f2f2;
    color: #333;
}

main {
    padding: 20px;
}

section {
    display: flex;
}

article {
    flex: 1;
}

.column {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
}

.column img {
    width: 50%;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.footer-logo img {
    width: 20%;
    height: auto;
    margin: 0 10px;
}

.footer-copyright {
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
}